head     
        meta(name='viweport',content='width=divce-width')
        link(rel="stylesheet", href="https://stackpath.bootstapcdn.com/bootstap/4.4.1/css/bootstrap.min.css")
        title=subject 
body 
       div.container.mt2 
            header 
                 h2 welcome 
                 p here is Home page for#{name}
            section 
                h2 hello world 
                p welcome to react 
            footer 
                h2 here is footer 
                p 
                a(href=link) unsbscibe


