<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='viweport',content='width=divce-width'>
   <link rel="stylesheet" href="" href="https://stackpath.bootstapcdn.com/bootstap/4.4.1/css/bootstrap.min.css">
    <title>{{subject}}</title>
</head>
<body>
    <div class="containermt2">
        <header>
            <h2>Welcome </h2>
            <p>here is home page for  {{name}} </p>
        </header>
        <section>
            <h2>Here is body</h2>
            <p>subject is  {{subject}}</p>
        </section>
        <footer>
            <h2>here is footer </h2>
            <p><a href={{link}}>unsbscribe</a></p>
        </footer>
    </div>
</body>
</html>